.react-datepicker-wrapper {
    display: block;
}

.react-datepicker__input-container {
    display: block;
}

.react-datepicker__input-container > input {
    padding-left: 12px !important;
}

.form-control {

    color: #242849;
    font-size: 15px;
}